.outline {
  :global(.aside-item) {
    padding: 5px 0;
    --base: 12px;
  }

  :global(.aside-item-1) {
    font-size: 20px;
    font-weight: 300;
    padding-left: calc(var(--base) * 1);
  }

  :global(.aside-item-2) {
    font-size: 17px;
    padding-left: calc(var(--base) * 2);
  }

  :global(.aside-item-3) {
    font-size: 15px;
    padding-left: calc(var(--base) * 3);
  }

  :global(.aside-item-4) {
    font-size: 14px;
    padding-left: calc(var(--base) * 4);
  }

  :global(.aside-item-5) {
    font-size: 14px;
    padding-left: calc(var(--base) * 5);
  }

  :global(.aside-item-6) {
    font-size: 14px;
    padding-left: calc(var(--base) * 6);
  }
}
