@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
}

body {
  @apply bg-indigo-50 dark:bg-slate-800;
  min-height: 100%;
}

body.stone-theme {
  @apply bg-stone-100 dark:bg-stone-700;
}

/* 文本主题颜色 */
.text-l-gray-800-d-gray-200 {
  @apply text-gray-800 dark:text-gray-200;
}

.text-l-gray-600-d-gray-200 {
  @apply text-gray-600 dark:text-gray-200;
}

.text-l-gray-500-d-gray-300 {
  @apply text-gray-500 dark:text-gray-300;
}

.text-l-gray-400-d-gray-400 {
  @apply text-gray-400 dark:text-gray-400;
}

/* 背景主题颜色 */
.bg-l-white-d-slate-800 {
  @apply bg-white dark:bg-slate-800;
}

.bg-l-white-d-slate-700 {
  @apply bg-white dark:bg-slate-700;
}

.bg-l-white-d-slate-600 {
  @apply bg-white dark:bg-slate-600;
}

.bg-l-white-d-slate-400 {
  @apply bg-white dark:bg-slate-400;
}

.bg-l-gray-700-gray-200 {
  @apply bg-gray-700 dark:bg-gray-200;
}

/* 阴影颜色 */
.shadow-l-default-d-slate-400 {
  @apply dark:shadow-slate-400/50;
}

/* React Transition 动画 */
/* header展开动画，不使用 width，不定宽度动画不生效 */
:root {
  --header-nav-expend-width: 400px;
  --header-nav-expend-time: 300ms;
}

/* header 动画 */
.draw-enter,
.draw-appear {
  max-width: 0;
}

.draw-enter-active,
.draw-appear-active {
  max-width: var(--header-nav-expend-width);
  transition: all var(--header-nav-expend-time) ease-in;
}

.draw-enter-done,
.draw-appear-done {
  max-width: var(--header-nav-expend-width);
}

.draw-exit {
  max-width: var(--header-nav-expend-width);
}

.draw-exit-active {
  max-width: 0;
  transition: all var(--header-nav-expend-time) ease-out;
}

.draw-exit-done {
  max-width: 0;
}

/* Fade 动画 */
.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: all 300ms ease-in;
}

.fade-enter-done,
.fade-appear-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}

.fade-exit-done {
  opacity: 0;
}

/* 从上面渐入的动画 */
.fade-in-top-enter-active,
.fade-in-top-leave-active {
  transition: all 300ms;
}

.fade-in-top-enter-from,
.fade-in-top-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 200ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* marked 样式 */
.marked {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.4;
    cursor: text;
  }

  h1 {
    text-align: center;
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    margin: 1em auto 1.2em auto;
    font-weight: 300;
  }

  h1:after {
    border-bottom: 2px dashed #afec9e;
    content: '';
    width: 100px;
    display: block;
    margin: 0.2em auto 0 auto;
    height: 2px;
  }

  h2 {
    /*padding-bottom: .3em;
     font-size: 1.75em;
     line-height: 1.225;
     border-bottom: 1px solid #eee;*/
    font-size: 1.75em;
    padding-left: 9px;
    line-height: 1.4;
    border-left: 6px solid #c5e1ff;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }

  h3:before {
    border-radius: 50%;
    background-color: #8ac6fd;
    content: '';
    width: 6px;
    display: inline-block;
    height: 6px;
    vertical-align: middle;
    margin-bottom: 0.18em;
    margin-right: 8px;
  }

  h4 {
    font-size: 1.25em;
  }

  h4:before {
    background-color: #9ed0ff;
    content: '';
    width: 6px;
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    margin-bottom: 0.18em;
    margin-right: 8px;
  }

  h5 {
    font-size: 1em;
  }

  h5:before {
    background-color: #b0d6fa;
    content: '';
    width: 4px;
    display: inline-block;
    height: 4px;
    vertical-align: middle;
    margin-bottom: 0.18em;
    margin-right: 8px;
  }

  h6 {
    font-size: 1em;
    color: #777;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table {
    line-height: 27px;
    margin: 0.8em 0;
  }

  li > ol,
  li > ul {
    margin: 0 0;
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }

  a {
    @apply text-indigo-500 hover:text-indigo-600 underline underline-offset-1;
  }

  li p.first {
    display: inline-block;
  }

  ul,
  ol {
    padding-left: 30px;
    list-style: disc;
  }

  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }

  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }

  blockquote {
    /*border-left: 4px solid #dddddd;*/
    border-left: 4px dotted;
    padding: 0 12px;
    /* color: #444444; */
    font-size: 0.9em;
    @apply text-gray-500 border-blue-300;
  }

  blockquote blockquote {
    padding-right: 0;
  }

  table {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    word-break: break-word;
  }

  table tr {
    border-top: 1px solid #dadfe6;
    margin: 0;
    padding: 0;
  }

  /* table tr:nth-child(2n) {
    background-color: #fafbfc;
  } */

  table tr th {
    font-weight: 400;
    border: 1px solid #dadfe6;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr td {
    border: 1px solid #dadfe6;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr th:first-child,
  table tr td:first-child {
    margin-top: 0;
  }

  table tr th:last-child,
  table tr td:last-child {
    margin-bottom: 0;
  }

  code,
  tt {
    font-size: 90%;
    border-radius: 3px;
    @apply font-mono break-words;
  }

  code,
  tt {
    margin: 0 2px;
    padding: 2px 4px;
    @apply bg-blue-100;
  }

  pre {
    margin: 12px 0;
    padding: 20px 24px;
    @apply rounded-md overflow-x-auto bg-gray-50;
  }

  pre > code {
    margin: 0;
    padding: 0;
    border-radius: none;
    @apply bg-gray-50;
  }

  strong,
  b {
    font-weight: 500;
  }

  img {
    margin: 10px auto;
    max-width: 90%;
  }
}

.dark {
  .marked {
    pre {
      margin: 12px 0;
      padding: 20px 24px;
      @apply rounded-md overflow-x-auto bg-gray-700;
    }

    pre > code {
      margin: 0;
      padding: 0;
      border-radius: none;
      @apply bg-gray-700;
    }

    code,
    tt {
      margin: 0 2px;
      padding: 2px 4px;
      @apply bg-gray-600;
    }

    blockquote {
      border-left: 4px dotted;
      padding: 0 12px;
      font-size: 0.9em;
      @apply text-gray-400 border-gray-400;
    }
  }
}

/* hljs */
.marked {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }
  .hljs {
    color: #383a42;
    background: #fafafa;
  }
  .hljs-comment,
  .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }
  .hljs-doctag,
  .hljs-formula,
  .hljs-keyword {
    color: #a626a4;
  }
  .hljs-deletion,
  .hljs-name,
  .hljs-section,
  .hljs-selector-tag,
  .hljs-subst {
    color: #e45649;
  }
  .hljs-literal {
    color: #0184bb;
  }
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #50a14f;
  }
  .hljs-attr,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: #986801;
  }
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-symbol,
  .hljs-title {
    color: #4078f2;
  }
  .hljs-built_in,
  .hljs-class .hljs-title,
  .hljs-title.class_ {
    color: #c18401;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 700;
  }
  .hljs-link {
    text-decoration: underline;
  }
}
